*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #607d8b;
    text-align: center;
}

.hideen{
    display: none;
}

.container{
    max-width: 600px;
    margin: 0 auto;
}